<header class="site-header">
  <div class="header-inner">
    <a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/about/">About</a>
      <a href="{{ site.baseurl }}/categories/">Categories</a>
      <a href="{{ site.baseurl }}/tags/">Tags</a>
      <a href="{{ site.baseurl }}/dashboard/">Dashboard</a>
      <a href="{{ site.baseurl }}/connections/">Connections</a>
      <a href="{{ site.baseurl }}/log/">Log</a>
      <a href="{{ site.baseurl }}/feed.xml" class="rss-link" title="RSS Feed">RSS</a>
    </nav>
  </div>
</header>
